<div class="container">
<h1>All Wikis</h1>
<%= link_to "New Wiki", new_wiki_path, class: 'btn btn-default' %>
<hr />
 <% @wikis.each do |wiki| %>
     <h3>
       <%= link_to markdown(wiki.title), wiki %>
     </h3>
        <h5>Created <%= time_ago_in_words wiki.created_at %> ago by <%= wiki.user.email || current_user.email %></h5>
        <p>*<% if wiki.private %>
              <small>private</small>
            <% else %>
              <small>public</small>
            <% end %> </p>
     <% if wiki != @wikis.last %>
         <hr />
     <% end %>
 <% end %>
 </div>
